body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h2 {
    color: #ff5733;
    margin-top: 20px;
  }
  
  .div1 {
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
  }
  
  input {
    width: 90%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-grp {
    margin-top: 10px;
  }
  
  button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #e04e2c;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 550px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #F7CFD8;
    color: black;
  }
  
  li button {
    background-color: #FBA518;
    color: navy;
    font-weight: 900;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  
